.recipe-card{
    border: black 3px solid;
    margin: 10px;
    max-width: 200px;
    padding: 20px;
}

.recipe-card img{
 max-width: 100%;
}

ul{
    list-style: none;
}

li{
    background-color: blanchedalmond;
    display:inline;
    margin-right: 10px;
    border-radius: 10px;
    padding: 6px;
}