.recipeInfo{
    width: 70%;
    margin: auto;
    text-align: center;
   border-radius: 10px;
    margin-top: 50px;
    list-style: none;
    /* flex-direction: column; */
    align-items: center;
    background-color: #c7dfda;

    display: grid;

    margin-bottom: 100px;
    padding: 50px;
   


    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;

    grid-template-areas: "header header"
                       "img  ingredients"
                       "instructions  instructions";
    
}

.recipeInfo img{
    max-width:250px;
    max-height:250px;
    margin: auto;
    
}

/* .infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.instructions{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
    grid-area:instructions;

    
}

.img-ing-container{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 50px 0px;
    
}

.img-ing-container img{
   grid-area:img;
}

.headers{
    width:60%;
    grid-area:header;
    margin: auto;
}

.ingredients{

    grid-area:ingredients;

    
}



@media only screen and (max-width: 700px) {
    .recipeInfo{
        display:flex;
        flex-direction: column;
    
       
    }
    
  }