
/* General Styles */
body {
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

/* Website Landing Page */
.welcome-container {
  color: white;
  width: 35%;
  height: 31%;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.welcome-container h1 {
  font-size: 6rem;
  padding: 10px;
  color: white;
}

.welcome-container p {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

/* Login and Register Pages */
.register-container {
  text-align: center;
}

.register-input {
  margin: 20px 0px;
}

.register-input label {
  margin-right: 10px;
}

.login-container {
  text-align: center;
}

.login-input {
  margin: 20px 0px;
}

.login-input label {
  margin-right: 10px;
}

/* Navbar */
.main-nav {
  width: 100%;
  background-color: #92d1c4;
  height: 50px;
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  top:0;
}

.main-nav > a {
  transition: all 0.1s;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top: 14px;
}

.main-nav > a:hover {
  background-color: #49a695;
  color: white;
  text-decoration: none;
}

/* Meals page */
.meal-card {
  background-color: #c7dfda;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
}

.row {
  justify-content: center;
}

#meals-container {
  text-align: center;
  padding-top: 30px;
}

/* New recipe page */
#new-recipe-container h1 {
 text-align: center;
}