
/* General Styles */
body {
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

/* Website Landing Page */
.welcome-container {
  color: white;
  width: 35%;
  height: 31%;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.welcome-container h1 {
  font-size: 6rem;
  padding: 10px;
  color: white;
}

.welcome-container p {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

/* Login and Register Pages */
.register-container {
  text-align: center;
}

.registerInput {
  margin: 20px 0px;
}

.registerInput label {
  margin-right: 10px;
}

.login-container {
  text-align: center;
}

.loginInput {
  margin: 20px 0px;
}

.loginInput label {
  margin-right: 10px;
}